<h2>Ajouter un étudiant</h2>
<form class="d-flex flex-column justify-content-start">
    <input type="number" name="idCand" id="idCand" placeholder="ID">
    <input type="text" name="nom" id="nom" placeholder="Nom">
    <input type="text" name="prenom" id="prenom" placeholder="Prénom">
    <input type="text" name="rue" id="rue" placeholder="Rue">
    <input type="text" name="cp" id="cp" placeholder="Code Postal">
    <input type="text" name="ville" id="ville" placeholder="Ville">
    <input type="text" name="courriel" id="courriel" placeholder="Courriel">
    <input type="text" name="genre" id="genre" placeholder="Genre">
    <input type="number" name="age" id="age" placeholder="Age">

    <button type="submit">Ajouter un étudiant</button>
</form>